header {
  background-image: linear-gradient(#04519b, #044687 60%, #033768);
  color: white;
  min-height: 100px;
  padding-top: 25px; }
  header form {
    float: right; }
  header .logo {
    float: left; }
